@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

body {
  font-family: "Roboto";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}


::-webkit-scrollbar {
  height: 6px;
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fdfdfd;
  /* background-color: #2a2f32; */
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(92 88 88);
  border-radius: 3px;
}

.Display_Flex {
  display: flex !important;
}

.Display_Flex_Column {
  display: flex !important;
  flex-direction: column !important;
}

.MT_5 {
  margin-top: 50px !important;
}

.MT_4 {
  margin-top: 40px !important;
}

.MT_3 {
  margin-top: 30px !important;
}

.MT_2 {
  margin-top: 20px !important;
}

.MT_1 {
  margin-top: 10px !important;
}

